name: Test

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    uses: aave-dao/github-workflows/.github/workflows/foundry-lint-prettier.yml@main
  test:
    uses: aave-dao/github-workflows/.github/workflows/foundry-test.yml@main
    secrets:
      ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}
